<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Webora</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="container">
            <div class="logo">
                <img src="/icons/logo.svg" alt="">
            </div>

            <nav>
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">Our Work</a>
                <a href="#">Testimonial</a>
            </nav>

            <a href="#contact">
                <button class="connect-btn">Connect →</button>
            </a>


        </div>
    </header>

    <!-- HERO -->
    <section class="hero">
        <h1>Turning imagination into <span>digital</span> impact</h1>
        <p>Creating meaningful connections and turning big ideas into interactive digital experiences.</p>

        <img src="/images/hero_img.png" class="hero-img" />
    </section>

    <!-- TRUSTED BRANDS -->
    <section class="brands">
        <img src="/images/coinbase_logo.png" />
        <img src="/images/google_logo.svg" />
        <img src="/images/rakuten_logo.png" />
        <img src="/images/microsoft_logo.png" />
        <img src="/images/airbnb_logo.svg" />
        <img src="/images/zoom_logo.png" />
    </section>

    <!-- SERVICES -->
    <section class="services">

        <h2>How can we help you grow?</h2>

        <div class="service-grid">

            <div class="service-card">
                <img src="/icons/Performance_icon.svg" alt="">
                <h3>Performance Advertising</h3>
                <p>Campaign optimization across platforms.</p>
            </div>

            <div class="service-card">
                <img src="/icons/content_icon.svg" alt="">
                <h3>Content Marketing</h3>
                <p>Build powerful digital storytelling.</p>
            </div>

            <div class="service-card">
                <img src="/icons/creative_icon.svg" alt="">
                <h3>Creative & Content</h3>
                <p>Creative marketing campaigns.</p>
            </div>

            <div class="service-card">
                <img src="/icons/social_icon.svg" alt="">
                <h3>Social Media</h3>
                <p>Build engaging digital presence.</p>
            </div>

        </div>

    </section>

    <!-- PROJECTS -->
    <section class="projects">

        <h2>Our latest work</h2>


        <div class="project-grid">

            <div class="project">
                <img src="/images/work_mobile_app.png">
                <h4>Car Rental Application – RapidRide</h4>
                <P> Designed a car rental app with booking flow, vehicle listings,and a consistent design system.</P>
            </div>

            <div class="project">
                <img src="/images/work_ads_analysis.png">
                <h4>SaaS Performance Dashboard</h4>
                <p>Designed and managed performance dashboards to track, analyze, and improve marketing efficiency.</p>
            </div>

            <div class="project">
                <img src="/images/furniture.png">
                <h4>Furniture E-Commerce UI</h4>
                <p>Designed a modern e-commerce UI in Figma with wireframes, high fidelity screens, and reusable
                    components.</p>
            </div>

        </div>

    </section>

    <!-- TEAM -->
    <section class="team-section">

        <div class="container">

            <h2 class="team-title">
                Meet the team behind <span>Webro.ai</span>
            </h2>

            <p class="team-subtitle">
                A passionate team of digital experts dedicated to your brand’s success.
            </p>

            <div class="team-grid">

                <div class="team-card">
                    <img src="/images/haley.png">
                    <div>
                        <h4>Haley Carter</h4>
                        <p>CEO & founder</p>
                    </div>
                </div>

                <div class="team-card">
                    <img src="/images/james.png">
                    <div>
                        <h4>James Walker</h4>
                        <p>Performance Marketer</p>
                    </div>
                </div>

                <div class="team-card">
                    <img src="/images/jessica.png">
                    <div>
                        <h4>Jessica Morgan</h4>
                        <p>Vice president</p>
                    </div>
                </div>

                <div class="team-card">
                    <img src="/images/ashley.png">
                    <div>
                        <h4>Ashley Bennett</h4>
                        <p>Growth Strategist</p>
                    </div>
                </div>

                <div class="team-card">
                    <img src="/images/emily.png">
                    <div>
                        <h4>Emily Parker</h4>
                        <p>Content marketer</p>
                    </div>
                </div>

                <div class="team-card">
                    <img src="/images/Ryan.png">
                    <div>
                        <h4>Ryan Mitchell</h4>
                        <p>Analytics Specialist</p>
                    </div>
                </div>

                <div class="team-card">
                    <img src="/images/megan.png">
                    <div>
                        <h4>Megan Brooks</h4>
                        <p>Creative Lead</p>
                    </div>
                </div>

                <div class="team-card">
                    <img src="/images/amber.png">
                    <div>
                        <h4>Amber Foster</h4>
                        <p>Senior writer</p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Reach out -->
    <section id="contact" class="contact-section">

        <div class="container">

            <h2>Reach out to us</h2>

            <p>
                Ready to grow your brand? Let's connect and build something exceptional together.
            </p>

            <form class="contact-form">

                <div class="form-row">
                    <input type="text" placeholder="Your name">
                    <input type="email" placeholder="Email id">
                </div>

                <textarea placeholder="Enter your message"></textarea>

                <button type="submit">Submit</button>

            </form>

        </div>

    </section>


    <!-- CONTACT -->


    <!-- FOOTER -->
    <footer class="footer">

        <div class="footer-container">

            <!-- LEFT SIDE -->

            <div class="footer-left">

                <img src="/icons/logo.svg" class="footer-logo">

                <p class="footer-desc">
                    From strategy to execution, we craft digital solutions that move your business forward.
                </p>

                <div class="footer-links">
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">Our work</a>
                    <a href="#">Testimonial</a>
                </div>

            </div>


            <!-- RIGHT SIDE -->

            <div class="footer-right">

                <h3>Subscribe to our newsletter</h3>

                <p>The latest news, articles, and resources, sent to your inbox weekly.</p>

                <div class="newsletter">

                    <input type="email" placeholder="Enter your email">

                    <button>Subscribe</button>

                </div>

            </div>

        </div>


        <hr class="footer-divider">


        <div class="footer-bottom">

            <p>Copyright 2025 © Growvia.ai - All Right Reserved.</p>

            <div class="social-icons">

                <img src="/icons/facebook_icon.svg">
                <img src="/icons/twitter_icon.svg">
                <img src="/icons/instagram_icon.svg">
                <img src="/icons/linkedin_icon.svg">

            </div>

        </div>

    </footer>



    <script src="/ts/main.ts"></script>


</body>

</html>